@charset "utf-8";
/* CSS Document */

body{
	background-color:#222222;	
	}
	
#Separacion1{
	width:900px;
	height: 30px;
	}

#Separacion2
{
	width:900px;
	height: 10px;
	background-color:#9F0;
}

#Separacion3
{
	width:900px;
	height: 5px;
	background-color:#9F0;
}
		
#MarcoGlobal{
	margin:0 auto 0 auto;
	width:900px;
	height: 650px;

}

#Logo
{
	width:900px;
	height: 100px;
	background-color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	color:#030;
}


#Rorador
{	width:900px;
	height: 450px;
	background-color:#FFF;
}

#Entrar
{	width:900px;
	height: 100px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	color:#FFF;
}




a:link{color:#FFF;}	
a:hover{ color:#CCC;}
a:visited{color:#FFF;}


.contador{
	 font-family:Georgia, "Times New Roman", Times, serif;
	 font-size:20px;
	 color: orange;
	}